@import "tailwindcss";



.outfit {
  font-family: "Outfit", sans-serif;
}

.dmsans {
  font-family: "DM Sans", sans-serif;
}



.wrapper {
  @apply max-w-[1280px] w-full mx-auto;
}

.yt-container iframe {
  width: 100vw;
}